*{
    margin: 0px;
    padding: 0px;
}
.title_hint{
    display: inline-block;
    width: 100%;
    line-height: 30px;
}
.content{
    display: inline-block;
    width: 88%;
    margin: 0px 6%;
    margin-top: 3%;
    font-family: '宋体' !important;
    font-size: 14px;
    font-weight: 700 !important;
    color: #777777 !important;
}

/*.setTitle{*/
    /*width: 50%;*/
    /*line-height: 20px;*/
    /*border-radius: 4px;*/
/*}*/

.img{
    width: 87%;
    float: right;
    /* border: solid 1px rgba(139, 138, 138, 0.3); */
    margin-right: 2%;
    height: 100px;
}
.img img{
    margin-top: 1%;
    width: 20%;
    height: 80px;
}
/*样式选中*/
.pitch_on{
    border: 2px solid rgb(0, 255, 0);
}
/*样式未选中*/
.pitch_on_no{
    border: 2px solid rgb(102, 102, 102);
}

.type_title{
    float: left;
}
.hint{
    font-size: 14px;

    color: #808080;
    float: left;
    margin-left: 2%;
    line-height: 30px;
}
.selectAlbum{
    float: left;
    width: 100%;
}
.albumList{
    border: solid 1px rgba(128, 128, 128, 0.44);
    overflow: auto;
    /* border: solid 1px #000000; */
    min-height: 150px;
    float: right;
    width: 88%;
    margin-right: 1%;
}
.albumListContent{
    line-height: 30px;
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}
.albumListContent label{
    width: 100%;
    float: left;
}
.ablumName{
    padding-left: 6%;
    width: 80%;
}
.identification{
    text-align: center;
    width: 20%;
}