<div class='article_list_container0 controller' data-id='"+$('#controller-id').val()+"'>
<div class='controller-title'>"+$(".setting input:first").val()+"<br><span>News</span></div>
<div class='article_info'>
	<ul class='article_list'>
	<foreach name="data" item="item">
		<empty name="item.savepath">
			img_src = $("#home_img").val()+"/article/"+"default.jpg
		</empty>
		<noempty>
			img_src = img_url+data[i].savepath+data[i].savename;
		</noempty>
	</foreach>
	for (var i = 0; i < length; i++) {
		if (i == 0) {
			<li><a class='article-link main_article' href'"+column_url+".html' data-url='"+article_url+data[i].id+"&column_id="+column_id+"'>
			<div class='first_article' style='background-image:url("+img_src+"); background-repeat: no-repeat; background-size:cover'>
			<div class='article_title'>"+data[i].title+"</div>"
		} else {
			<li><a class='article-link sub_article' href='"+column_url+".html' data-url='"+article_url+data[i].id+"&column_id="+column_id+"'>
				<div class='article_text'>
					<ul><li class='article_title'>" + data[i].title + "</li></ul>;
				</div>
				<div class='img_container'>
					<img src="+img_src+">
				</div>
		}
		</a></li>
		if (i != length-1) {
			<hr />
		}
	}
	</ul>
</div></div>
</div>