<div class='article_list_container2 controller' data-id='"+$('#controller-id').val()+"'>
    <div class='controller-title'>+$(".setting input:first").val()+"</div>
    <div class='article_info'>
        <div class='navText'>
            <div class = 'article_list'>
                <foreach name="article_info" item="item">
                    <div>
                        <div class='row'></div>
                        <span class='article_title style3'>{$item['title']}</span>
                    </div>
                </foreach>
            </div>
        </div>
    <div class='textContent'>
    <foreach name="article_info" item="item">
        <if condition="$key eq 0">
            <a class='article-link' href='"+column_url+".html' data-url='"+article_url+data[i].id+"column_id="+column_id+"'>
                <div class='detail'>
                    <img src="+img_src+">
        <else/>
            <a style='display:none' class='article-link' href='"+column_url+".html' data-url='"+article_url+data[i].id+"column_id="+column_id+"'>
                <div class='detail'><img src="+img_src+">
        </if>
                    {$item['content']}
                </div>
            </a>
    </foreach>
    </div>
        <div class='clear_float'></div>
    </div>
    <div class='clear_float'>
</div>