<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/panel/PicturesShow.css">
    <!--<link rel="stylesheet" type="text/css" href="__CSS__/panel/alert_info.css">-->
    <script type="text/javascript" src='__STATIC__/jquery-2.0.3.min.js'></script>
    <script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__JS__/panel/PicturesShow.js"></script>
    <!--<script type="text/javascript" src="__JS__/panel/alert_info.js"></script>-->
</head>
<body>
    <div id="PicturesShow">
        <div class="content">
            <div class="title">
                <span>模块标题:</span>
                <span>
                    <input type="text" class="setTitle" value="{$title}"/>
                </span>
            </div>
            <div class="type">
                <div class="type_title">图册样式:</div>
                <div class="img">
                    <!--<img type="1" src="__IMAGES__/panel/such1.jpg">-->
                    <!--<img type="2" src="__IMAGES__/panel/such2.jpg">-->
                    <!--<img type="3" src="__IMAGES__/panel/such4.jpg">-->
                    <empty name="theme">

                        <else/>
                        <foreach name="theme" item="vo">
                            <if condition="$vo.name eq $primary_type">
                                <div class="pattern">
                                    <div class="hr"><img type="{$vo.name}" src="__UPLOADS__/{$vo.savepath}{$vo.savename}"></div>
                                </div>
                            <else/>
                                <div class="pattern">
                                    <div class=""><img type="{$vo.name}" src="__UPLOADS__/{$vo.savepath}{$vo.savename}"></div>
                                </div>
                            </if>
                        </foreach>
                    </empty>
                </div>
                <!--<div class="hint">-->
                    <!--<span>[注：该样式最多显示10张图片]</span>-->
                <!--</div>-->
            </div>
            <div class="selectAlbum">
                <div>
                    <span>选择相册:</span>
                </div>
                <div class="albumList">
                    <table class="albumListContent">
                        <empty name="album_list">
                            <h3 style="text-align: center; color: red;">无相册,请去添加</h3>
                        <else />
                            <foreach name="album_list" item="vo">
                                <if condition="$vo.id eq $primary_album">
                                    <tr class="pitch_album" style="background: #D3D1CB;" date="{$vo.id}">
                                        <td class="ablumName">
                                            {$vo.name}
                                        </td>
                                        <td class="identification">
                                            <img src="__IMAGES__/panel/viwepagerAdd1.png">
                                        </td>
                                    </tr>
                                    <else/>
                                    <tr date="{$vo.id}">
                                        <td class="ablumName">
                                            {$vo.name}
                                        </td>
                                        <td class="identification">
                                            <img src="__IMAGES__/panel/viwepagerAdd2.png">
                                        </td>
                                    </tr>
                                </if>
                            </foreach>
                        </empty>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="controller-id" value="{$controllerId}"/>
    <input type="hidden" id="status" value="{$status}">
    <input type="hidden" id="save_widget" value="{:U('Panel/save_widget')}">
    <!--<div id="top-alert-back">-->
        <!--<div id="top-alert" class="alert alert-warning alert-dismissible" role="alert">-->
            <!--<button type="button" class="close_hint"><span aria-hidden="true">×</span></button>-->
            <!--<div class="alert-content"></div>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>