.article_list_container0{
	
}
.article_list_container0 .controller-title {

}
.article_list_container0 .article_info {

}
.article_list_container0 .article_info .article_list{
	margin-bottom: 0;
}
.article_list_container0 .article_list>hr {
	margin: 0;
}
.article_list_container0 .article-link {

}
.article_list_container0 .article_text {

}
.article_list_container0 .img_container{
	width: 20%;
	height: 2.5rem;
	float: right;
	display: inline-block;
}
.article_list_container0 .img_container>img{
	width: 100%;
	height: 2.0rem;
}
.article_list_container0 .first_article{
	width: 100%;
	height: 5.0rem;
	position: relative;
}
.article_list_container0 .first_article .article_title{
	height: 1.3rem;
	line-height: 1.3rem;
	width: 100%;
	position: absolute;
	background-color: rgba(59, 62, 54, 0.5);
	bottom: 0;
	color: white;
	font-size: 0.9rem;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5%;
}
/* .article_list_container0 .article_list li:first-child{
	height: 5.0rem;
};
.article_list_container0 .article_list li:first-child a{
	height: 5.0rem;
	line-height: 5.0rem;
}
.article_list_container0 .article_text {

} */

.article_list_container0 .article_list>li:first-child {
	height: 5.0rem;
	margin-bottom: 5px;
}
.article_list_container0 .article_list>li:first-child a{
	height: 5.0rem;
	line-height: 5.0rem;
}