<div class="image_text_container{$option['index']} controller" data-name='{$cname}'>
	<div class='controller-title '>{$option['title']}</div>
		<div>
		<div class='image_text_img'>
			<if condition="$index eq 2">
				<h4>{$title['title']}</h4>
			</if>
			<if condition="empty($article['savename'])">
				<img src="__PUBLIC__/Home/Widget/ImageText/images/{$option['index']}.jpg">
			<else/>
				<img src="__Uploads__/{$article['savepath']}{$article['savename']}">
			</if>
		</div>
		<if condition="$index eq 2">
			<div class='image_text_title'>
				<h4>{$article['title']}</h4>
			</div>				
		</if>
		<br/>
		{$article['content']}
		<div class='clear_float'></div>
	</div>
	</div>
</div>