.first>.nav_all{
	width: 50%;
	height: 3rem;
	line-height: 3rem;
	float: left;
}
.first>.nav_all a{
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	vertical-align: middle;
	color:#555;
}
.first>.nav_all div{
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	background-size: cover;
	position: absolute;
	left:10%;
	top:0.5rem;
	margin: auto;
}
.first>.nav_all p{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0 0 0 40%;
	font-size: 1rem;
}
.first>.nav:nth-child(0){background: #D1C340}
.first>.nav:nth-child(1){background: #DCD386}
.first>.nav:nth-child(2){background: #FFCE75}
.first>.nav:nth-child(3){background: #9EC68A}
.first>.nav:nth-child(4){background: #68BAAB}
.first>.nav:nth-child(5){background: #D0A4A3}
