<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
	<title>index</title>
	<volist name="css" id="vo">
		<link rel="stylesheet" <?php if(preg_match('/Theme.*theme/',$vo)) echo "class='theme-link'";?> type="text/css" href="{$vo}">
	</volist>
	<volist name="js" id="vo">
		<script type="text/javascript" src='{$vo}'></script>
	</volist>
	<empty name="download">
	<script type="text/javascript" src='__JS__/panel/index/drag.js'></script>
	</empty>
</head>
<body>
	<empty name="download">
	<script type="text/javascript">
		window.html_json = <?php echo $html_json ? $html_json : "{}"; ?>;
		window.isDesc = <?php echo $isDesc ? $isDesc : "false"; ?>;
		if(isDesc){
			window.desc_type = "<?php echo $desc_type ? $desc_type : ""; ?>";
			window.parent.$('.save-all').attr('data-type','writeDesc');
		}
	</script>
	</empty>
	<div class="side main">
		<div class="user-bar">
			<div class="head-icon" style="background-image:url({:C('UPLOAD_ROOT')}{$user_info.head_img})"></div>
			<div class="user-name">{$user_info.nickname}</div>
		</div>
		<div class="nav-move nav-move-left"></div>
		<div class="nav-bar">
			<volist name="nav_list" id='vo'>
				<if condition="$vo['id'] eq $now_column">
					<div class="nav-item active" data-column="{$vo.id}">
				<else />
					<if condition="$vo['forbidden'] eq 1">
						<div class="nav-item forbidden" data-column="{$vo.id}">
					<else />
						<div class="nav-item" data-column="{$vo.id}">
					</if>
				</if><a href="{$vo.url}.html">
					<span class='nav-icon' style="background-image:url({$vo.icon_url})"></span>
					<span class="nav-name">{$vo.name}</span></a>
				</div>
			</volist>
		</div>
		<div class="nav-move nav-move-right"></div>
	</div>
	<div class="header main">
		<div class="menu-button"></div>
		<h1>{$site_name}</h1>
	</div>
	<div class="top-bar main zi"></div>
	<div class="clearfix main"></div>
	<div class="background main" <notempty name="back_url">style="background-image:url({:C('UPLOAD_ROOT')}{$back_url})"</notempty>></div>
	<div class="center main" id="browser_frame" ondragenter='dragenter(event)' ondrop='drop(event)'>
		{$content}
		<div class='pro' ondragover='allow(event)'></div>
	</div>
	<div class="footer main">
		<div class="footer-border"></div>
		<div class="foot-text">
			<p>©2015 {$site_name} 版权所有</p>
			<p>技术支持：marchsoft</p>
		</div>
	</div>
</body>
</html>
